* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

:root {
    --main-color: #01579b
}  

h2 {
    text-align: center;
}

.container-fluid {
    justify-content: center;
    margin: 50px 200px 50px 200px;
}

.container-fluid-cards {
    justify-content: center;
    margin: 50px 250px;
}

.brand-logo {
    margin: auto 20px; 
}

footer {
    width: 100%;
    padding: 40px 35px;
  }

.datepicker-date-display {
    background-color: var(--main-color)
}
   
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: var(--main-color)
}
   
.datepicker-table td.is-today {
    color: var(--main-color)
}
   
.datepicker-table td.is-selected {
    background-color: var(--main-color);
    color: #fff;
}

.material-icons{
    color: var(--main-color);
    }

.left, .right {
    color: white;
    }


.carousel {
    height: 750px;
    background-size: cover;
    background-position: center;
  }


.hidden {
    visibility: hidden;
}

.card {
    padding: 15px 15px;
}

.message, .trip-title {
    text-align: center;
}
